absl_py==1.0.0
Box2D==2.3.10
cloudpickle==2.0.0
imageio_ffmpeg==0.4.7
importlib_metadata==4.8.2
keras==2.7.0
lz4==4.0.2
matplotlib==3.5.0
moviepy==1.0.3
mujoco_py==2.1.2.14
numpy==1.21.4
pandas==1.3.5
psutil==5.8.0
pycolab==1.2
pygame==2.1.2
pyglet==1.5.26
pytest==6.2.5
setuptools==58.0.4
six==1.16.0
sphinxcontrib_programoutput==0.17
tensorboard==2.7.0
tensorflow==2.7.0
torch==1.11
stable_baselines3==1.6.0
windows-curses== 2.3.0
protobuf==3.20.*
